<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+?)/?$ index.php?url=$1 [L,QSA,B]

    Options -Indexes

    <FilesMatch "\.(ics)$">
        ForceType text/calendar
        Header set Content-Disposition attachment
    </FilesMatch>
</IfModule>