services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
    networks:
      - mi-red

  db:
    image: mysql:8.0
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d/
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sistemareservas
    networks:
      - mi-red

networks:
  mi-red:
    driver: bridge